@model IEnumerable<ProjectManagementSystem.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h2>Проєкти</h2>

<p>
    <a asp-action="Create">Додати</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    <div id="taskStatusColumnChart"></div>
</div>

@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('api/Charts/TaskCountsByProjectJson', function (JsonData) {
                var data = google.visualization.arrayToDataTable(JsonData.$values, false);

                var options = {
                    title: "Порівняння кількості завдань за проєктами",
                    isStacked: true, 
                    titleTextStyle: {
                        fontSize: 22,
                        bold: true
                    },
                    width: 600,
                    height: 500,
                    hAxis: {
                        title: 'Кількість завдань'
                    },
                    vAxis: {
                        title: 'Проєкти'
                    },
                    legend: { position: 'top' }
                };

                var chart = new google.visualization.BarChart(document.getElementById('taskStatusColumnChart'));
                chart.draw(data, options);
            });
        }
    </script>
}
